<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/balance_final</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">ani</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="com/balance/hib/bean/UserDetails.hbm.xml"/>
    <mapping resource="com/balance/hib/bean/UserAccountDetails.hbm.xml"/>
    <mapping resource="com/balance/hib/bean/BsHead.hbm.xml"/>
    <mapping resource="com/balance/hib/bean/BsSubHead.hbm.xml"/>
    <mapping resource="com/balance/hib/bean/BsGroup.hbm.xml"/>
    <mapping resource="com/balance/hib/bean/IncomeEntry.hbm.xml"/>
    <mapping resource="com/balance/hib/bean/ExpenseEntry.hbm.xml"/>
    <mapping resource="com/balance/hib/bean/Transfer.hbm.xml"/>
    <mapping resource="com/balance/hib/home/qury.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
